# == Global ignores ==
.DS_Store
Thumbs.db
cache/
__pycache__/
*.pyc
.idea/
google-services.json

# == Node backend ==
/backend/node_modules/
/backend/.env
/backend/.DS_Store
/backend/config/*.json

# == Android frontend ==
/frontend/.gradle/
/frontend/build/
/frontend/local.properties
/frontend/*.iml
/frontend/captures/

# == macOS or OS-related ==
*.log
.DS_Store
frontend/app/google-services.json
