# == Global ignores ==
.DS_Store
Thumbs.db

# == Node backend ==
/backend/node_modules/
/backend/.env
/backend/.DS_Store
/backend/db.js

# == Android frontend ==
/frontend/.gradle/
/frontend/.idea/
/frontend/build/
/frontend/local.properties
/frontend/*.iml
/frontend/captures/

# == macOS or OS-related ==
*.log
